@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 1440px;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.field {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.navigation {
    color: #000000;
    background: linear-gradient( #FFFFFF, 12%, #FFE17F 12%);
    margin-top: 40px;
}

.up-menu {
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}

.up-menu-navigation-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0;
}

.navigation-logo {
    display: block;
    width: 145px;
    height: 36px;
}

.navigation-link {
    line-height: 19px;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    margin: auto;
}

.navigation-link-button {
    display: flex;
    align-items: baseline;
}

.navigation-link-person {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    margin-left: auto;
}

.navigation-link-menu {
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.2em;
    display: block;
    margin-top: 44px;
    margin-bottom: 17px;
}

.navigation-form {
    width: 480px;
    height: 20px;
}

.up-menu .navigation-items {
    min-width: 100px;
    min-height: 20px;
}

.down-menu-navigation-list {
    display: flex;
    padding: 0 60px;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
}

.catalog .navigation-link-menu {
    min-width: 240px;
    min-height: 20px;
}

.delivery .navigation-link-menu {
    margin-left: auto;
}

.guarantee {
    margin-left: 20px;
}

.contacts {
    margin-left: 60px;
}

.delivery {
    margin-left: auto;
}

.down-menu-navigation-list .navigation-items {
    min-width: 140px;
    min-height: 20px;
}

.page-container {
    margin-right: auto;
    margin-left: auto;
    width: 1160px;
    padding-right: 140px;
    padding-left: 140px;
}

.slider-pagination {
    padding-left: 0;
    margin: 0;
}

.slider-pagination-item {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#FFE17F, 26%, #FFFFFF 26%);
}

.slide-logo-img {
    width: 560px;
}

.slide-info {
    width: 560px;
}

.slide-item {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 120px;
}

.slide-description {
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.slide-about {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(#FFFFFF, 30%, #FFE17F 30%, 70%, #FFFFFF 70%);
    letter-spacing: 0.2em;
    width: 220px;
    display: block;
    margin-bottom: 70px;
}

.slide-list {
    display: flex;
    flex-wrap: wrap;
}

.slide-title {
    font-weight: 400;
    font-size: 36px;
    color: #000000;
    min-width: 160px;
    min-height: 52px;
    margin-right: auto;
}

.slide-title-description {
    font-weight: 400;
    font-size: 16px;
    margin-left: auto;
    min-width: 160px;
    min-height: 52px;
}

.category {
    margin-top: 70px;
}

.category-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.category-item-logo1 {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
    background-image: url("../img/category/category-logo1.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 33px;
}

.category-item-logo2 {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
    background-image: url("../img/category/category-logo2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 33px;
}

.category-item-logo3 {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
    background-image: url("../img/category/category-logo3.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 33px;
}

.category-item-logo4 {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
    background-image: url("../img/category/category-logo4.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 33px;
}

.category-item-logo5 {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
    background-image: url("../img/category/category-logo5.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 33px;
}

.category-item-logo6 {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
    background-image: url("../img/category/category-logo6.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 33px;
}

.category-item {
    margin-right: 40px;
}

.category-buton {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
    min-width: 160px;
    min-height: 60px;
}

.services {
    margin-top: 70px;
    background: linear-gradient(#FFFFFF, 26%, #F0F0F0 26%);
}

.services-pagination {
    padding: 0 140px;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.services-pagination-item {
    display: flex;
}

.services-button {
    width: 280px;
    margin-top: 80px;
    margin-bottom: 150px;
}

.services-title {
    min-width: 560px;
    min-height: 70px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 0px;
}

.services-description {
    color: #444444;
    margin-top: 14px;
}

.slider-pagination-button {
    border: none;
    margin-bottom: 45px;
}

.slider-pagination-button:last-child {
    margin-bottom: 0px;
}

button {
    background: transparent;
}

.slider-button {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    display: block;
    width: 160px;
    height: 20px;
}

.services-item {
    padding-left: 0;
    margin-top: 70px;
    margin-left: 120px;
}

.delive-item {
    background: #F0F0F0;
    min-width: 1160px;
    margin-top: 90px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    padding-top: 37px;
    padding-bottom: 41px;
    text-align: center;
    display: block;
}

.about-contact {
    display: flex;
    margin-top: 100px;
}

.about {
    width: 560px;
}

.about-list {
    list-style-type: none;
    margin-bottom: 130px;
}

.about-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-top: 50px;
}

.about-company {
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
}

.button-all {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    background: linear-gradient(#FFFFFF, 30%, #FFE17F 30%, 70%, #FFFFFF 70%);
    display: block;
    margin-top: auto;
    letter-spacing: 0.2em;
    width: 260px;
}

.contact {
    width: 560px;
    margin-left: 40px;
}

.contacts-schedule {
    list-style-type: none;
}

.contact-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-top: 50px;
}

.contact-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
}

.contacts-phone {
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: #444444;
}

.mail {
    color: #444444;
    background: #F0F0F0;
}

.mailing {
    padding: 0 140px;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 560px 260px auto;
    gap: 30px;
    margin-top: 75px;
}

.mailing-text {
    margin-top: 86px;
    grid-column: 2 / -1;
}

.mailing-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    width: 560px;
    margin-top: 75px;
}

.mailing-form {
    width: 560px;
    align-self: center;
    padding: 0;
    margin-bottom: 130px;
}

.mailing-text-button {
    justify-self: end;
    margin: 0px;
    margin-bottom: 130px;
    align-self: center;
}

.button-email {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
    margin-bottom: 130px;
    width: 260px;
    height: 55px;
}

.inner-header {
    margin-right: auto;
    margin-left: auto;
    width: 1160px;
    padding-right: 140px;
    padding-left: 140px;
}

.inner-header-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    width: 560px;
    margin: 37px 0 0 60px;
}

.breadcrumbs {
    list-style-type: none;
    display: flex;
    margin-left: 60px;
    padding: 0;
    margin-bottom: 50px;
}

.breadcrumbs-item {
    margin-right: 36px;
}

.breadcrumbs-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

.catalog-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 1160px;
    padding-right: 140px;
    padding-left: 140px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 40px;
    padding-left: 70px;
    padding-top: 70px;
    list-style-type: none;
    margin: 0px;
    padding-bottom: 45px;
}

.pagination {
    display: flex;
    list-style-type: none;
    margin-left: 70px;
    padding: 0;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 77px;
}

.filter {
    width: 320px;
    padding-left: 60px;
}

.catalog-right-column {
    width: 980px;
}

.catalog-filter-list {
    list-style-type: none;
}

.catalog-filter-name {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 6px;
}

.catalog-filter-title {
    font-style: normal;
    font-weight: 700;
    color: #000000;
    line-height: 20px;
}

.catalog-filter-label {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-align: center;
}

.control-label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.button-control {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFC700;
    border: none;
    margin: 50px auto;
}

.sorting-container {
    display: flex;
    color: black;
    margin: 25px 0px 25px 75px;
}

.sorting-type {
    margin-right: auto;
}

.sorting-container .button {
    width: 11px;
    height: 11px;
}

.catalog-sorting-name {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: uppercase;
}

.select-control {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.product-card-button {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    background-color: #FFC700;
}

.product-card-title-link {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    align-items: flex-start;
}

.product-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    width: 280px;
    margin: 0px;
}

.product-card-price {
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.button-pagination-show-more {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    width: 760px;
    height: 55px;
    margin-left: 70px;
    display: block;
    align-items: stretch;
    text-align: center;
    letter-spacing: 0.2em;
}

.pagination-list {
    padding: 0px;
}

.pagination-item {
    display: inline;
    margin-right: 28px;
}

.pagination-item:last-child {
    margin-right: 0px;
}

.button-pagination-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.pagination-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    color: #444444;
}

.page-footer {
    background: #444444;
    color: #FFFFFF;
}

.page-footer-container {
    display: flex;
    width: 1160px;
    padding: 0 140px;
    margin-left: auto;
    margin-right: auto;
}

.footer-contact {
    display: block;
    margin-top: 60px;
}

.footer-adress {
    margin-top: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    font-size: 16px;
    color: #FFFFFF;
    width: 240px;
}

.page-footer .button-button-all {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0.2em;
    width: 148px;
    margin-right: 10px;
}

.footer-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #FFFFFF;
    width: 300px;
}

.page-footer-menu {
    display: flex;
    width: 450px;
    list-style-type: none;
    margin-top: 135px;
    margin-left: 115px;
    padding-left: 0;
}

.footer-social-list {
    display: flex;
    list-style-type: none;
    margin-top: 60px;
}

.footer-phone {
    display: block;
    margin-left: auto;
    margin-top: 135px;
}

.footer-logo {
    display: block;
    margin-left: auto;
    margin-top: 55px;
    width: 115px;
}