@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 1440px;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.field, .search-button {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.navigation {
    color: #000000;
    background: linear-gradient( #FFFFFF, 23px, #FFE17F 23px);
    margin-top: 40px;
}

.up-menu {
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 25px;
}

.up-menu-navigation-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 24px;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0px;
}

.navigation-logo {
    display: block;
    width: 145px;
    height: 36px;
    margin-bottom: 25px;
    padding-left: 60px;
}

.navigation-link {
    line-height: 40px;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    margin: auto;
    padding-left: 10px;
    height: 40px;
    display: inline-block;
}

.navigation-link-out {
    line-height: 19px;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.3;
    padding-left: 20px;
}

.navigation-link-menu-circle {
    width: 50px;
    height: 50px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    box-sizing: border-box;
    display: block;
    opacity: 0.2;
}

.navigation-link-button {
    display: flex;
    position: relative;
    width: 310px;
    flex-grow: 1;
}

.navigation-items-down:focus-within .subcatalog {
    display: block;
}

.subcatalog {
    display: none;
    list-style: none;
    position: absolute;
}

.subcatalog-menu {
    list-style: none;
    min-width: 210px;
    position: absolute;
    left: 0px;
    top: 50px;
}

.subcatalog-menu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.enter {
    padding-left: 26px;
    background-image: url("../img/enter.svg");
    background-repeat: no-repeat;
    background-size: 13px 12px;
    background-position: center left 2px;
    box-sizing: border-box;
    height: 40px;
}

.enter:hover {
    opacity: 0.6;
}

.enter:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
    box-sizing: border-box;
    border-radius: 20px;
}

.logout:hover {
    opacity: 0.6;
}

.logout:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
    box-sizing: border-box;
    border-radius: 20px;
}

.navigation-link-menu {
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.2em;
    display: block;
    line-height: 50px;
    min-width: 140px;
    text-align: center;
}

.menu-catalog {
    width: 260px;
    background-color: transparent;
    border: none;
}

.menu-catalog::before {
    width: 50px;
    height: 50px;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #000000;
    background: transparent;
    opacity: 0.2;
}

.catalog:hover:before {
    opacity: 1;
}

.catalog:hover .navigation-link-menu-circle {
    width: 50px;
    height: 50px;
    background-image: url("../img/minus.svg");
    background-repeat: no-repeat;
    background-size: 16px 2px;
    background-position: center;
    box-sizing: border-box;
    display: block;
    opacity: 1;
}

.menu-catalog:active:before {
    opacity: 0.3;
}

.catalog:active .navigation-link-menu-circle {
    width: 50px;
    height: 50px;
    background-image: url("../img/minus.svg");
    background-repeat: no-repeat;
    background-size: 16px 2px;
    background-position: center;
    box-sizing: border-box;
    display: block;
    opacity: 0.3;
}

.menu-catalog:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
    box-sizing: border-box;
    border-radius: 25px;
}

.navigation-form {
    width: 516px;
    height: 40px;
    padding-left: 16px;
    box-sizing: border-box;
    position: relative;
}

input {
    background: transparent;
    border: none;
    outline: none;
    outline-offset: 0;
}

.navigation-form input {
    width: 500px;
    height: 40px;
    padding-left: 36px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center left 4px;
    box-sizing: border-box;
    opacity: 0.3;
    border-radius: 20px;
}

.navigation-form input:not(:placeholder-shown)+.search-button {
    visibility: visible;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #000000;
    border-width: 2px;
}

.navigation-form input:not(:placeholder-shown)+.search-button:focus {
    border-color: #AF4FFF;
    outline: none;
}

.navigation-form input:active {
    box-shadow: 0 0 0 2px #000000;
    box-sizing: border-box;
    border-radius: 20px;
    opacity: 1;
}

.navigation-form input:hover {
    opacity: 0.6;
}

.navigation-form input:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
    box-sizing: border-box;
    border-radius: 20px;
    opacity: 1;
}

.navigation-form input:not(:placeholder-shown):focus-within {
    box-shadow: 0 0 0 2px #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

.search-button {
    visibility: hidden;
    background-color: transparent;
    line-height: 40px;
    width: 150px;
    padding: 0px;
    position: absolute;
    top: -2px;
    right: 0px;
}

.search-button:hover {
    visibility: visible;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 2px;
    color: #FFFFFF;
    background-color: #000000;
}

.search-button:active {
    visibility: visible;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 2px;
    color: rgba(255, 255, 255, 0.3);
    ;
    background-color: #000000;
}

.search-button:focus {
    visibility: visible;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #AF4FFF;
    border-width: 2px;
}

.navigation-items {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.compare {
    padding-left: 41px;
    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-size: 10px 12px;
    background-position: center left 20px;
    box-sizing: border-box;
    min-width: 136px;
}

.navigation-items:first-child {
    margin-right: auto;
}

.navigation-items:last-child {
    margin-left: 14px;
}

.compare:hover {
    opacity: 0.6;
}

.compare:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
    box-sizing: border-box;
    border-radius: 20px;
}

.compare:active {
    opacity: 0.3;
}

.basket {
    padding-left: 41px;
    background-image: url("../img/basket.svg");
    background-repeat: no-repeat;
    background-size: 16px 14px;
    background-position: center left 20px;
    box-sizing: border-box;
    min-width: 136px;
}

.basket::after {
    position: absolute;
    top: 10px;
    left: 2px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #000000;
    content: "2";
    text-align: center;
    line-height: 21px;
}

.basket:hover {
    opacity: 0.6;
}

.basket:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
    box-sizing: border-box;
    border-radius: 20px;
}

.basket:active {
    opacity: 0.3;
}

.down-menu-navigation-list {
    display: flex;
    padding: 0 60px;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 20px 0px 0px 0px;
    flex-grow: 1;
    justify-content: space-between;
}

.navigation-items-down:first-child {
    margin-right: 250px;
    width: 300px;
}

.navigation-items-down:last-child {
    margin-left: auto;
}

.delivery {
    margin-right: 20px;
}

.delivery:hover, .guarantee:hover, .contacts:hover {
    text-decoration-line: underline;
    text-underline-offset: 8px;
}

.delivery:focus, .guarantee:focus, .contacts:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
    box-sizing: border-box;
    border-radius: 25px;
}

.delivery:active, .guarantee:active, .contacts:active {
    text-decoration-line: underline;
    text-underline-offset: 8px;
    opacity: 0.3;
}

.page-container {
    margin-right: auto;
    margin-left: auto;
    width: 1160px;
    padding-right: 140px;
    padding-left: 140px;
}

.slider-pagination {
    padding-left: 0;
    margin: 0;
}

.slider-pagination-item {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#FFE17F, 150px, #FFFFFF 150px);
}

.fitnes {
    display: none;
}

.selfie {
    display: none;
}

.slide-logo-img {
    width: 560px;
}

.slide-info {
    width: 560px;
    position: relative;
}

.slide-indicator {
    position: absolute;
    margin: 0px;
    width: 249px;
    height: 135px;
    right: 50px;
    top: 29px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 140px;
    color: #FFFFFF;
    text-align: end;
    z-index: 0;
}

.slide-item {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 120px;
    position: relative;
    z-index: 1;
}

.slide-description {
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.slide-about {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(#FFFFFF, 21px, #FFE17F 21px, 29px, #FFFFFF 29px);
    letter-spacing: 0.2em;
    width: 220px;
    display: block;
    margin-bottom: 70px;
    height: 20px;
    align-items: center;
    padding: 15px 0px;
}

.slide-about:hover {
    background: #FFE17F;
}

.slide-about:focus {
    background: linear-gradient(#FFFFFF, 21px, #AF4FFF 21px, 29px, #FFFFFF 29px);
}

.slide-about:active {
    opacity: 0.3;
    background: #FFE17F;
}

.slide-list {
    display: flex;
    flex-wrap: wrap;
}

.slide-title {
    font-weight: 400;
    font-size: 36px;
    color: #000000;
    min-width: 160px;
    min-height: 52px;
    margin-right: auto;
}

.slide-title-description {
    font-weight: 400;
    font-size: 16px;
    margin-left: auto;
    min-width: 160px;
    min-height: 52px;
}

.category {
    margin-top: 70px;
}

.category-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.category-item-logo {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
    display: flex;
    margin-bottom: 33px;
    justify-content: center;
    align-items: center;
}

.image-bottom {
    align-items: flex-end;
}

.category-link {
    text-decoration: none;
}

.category-item {
    margin-right: 40px;
}

.category-item:hover .category-item-logo, .category-item:active .category-item-logo {
    background-color: #FFC700;
}

.category-item:focus .category-item-logo {
    box-shadow: 0 0 0 2px #AF4FFF;
}

.category-item:focus .category-buton {
    color: #AF4FFF;
}

.category-item:active .category-logo, .category-item:active .category-buton {
    opacity: 0.3;
}

.category-item-logo {
    box-sizing: border-box;
}

.category-buton {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
    width: 160px;
    height: 60px;
    margin: 0px;
}

.services {
    margin-top: 70px;
    background: linear-gradient(#FFFFFF, 100px, #F0F0F0 100px);
    padding-bottom: 70px;
}

.services-container {
    padding: 0 140px;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.services-list {
    padding: 0px;
}

.services-button {
    width: 280px;
    padding: 80px 0px 70px 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 5px 0px 0px 0px #000000;
}

.services-title {
    min-width: 560px;
    min-height: 70px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 0px;
}

.services-description {
    color: #444444;
    margin-top: 14px;
}

.slider-services-button {
    border: none;
    margin-bottom: 45px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: block;
    width: 160px;
    min-height: 40px;
    background: linear-gradient(transparent, 16px, #FFE17F 16px, 24px, transparent 24px);
    cursor: pointer;
}

.slider-services-button:last-child {
    margin-bottom: 0px;
}

.slider-services-button:hover {
    background: #FFC700;
}

.slider-services-button:focus {
    background: linear-gradient(transparent, 16px, #AF4FFF 16px, 24px, transparent 24px);
}

.services-item {
    padding-left: 0;
    margin: 70px 340px 60px 120px;
    list-style-type: none;
    position: relative;
}

.services-logo {
    position: absolute;
    top: 10px;
    left: 550px;
}

.slider-services-button-current {
    color: #FFE17F;
    background: #000000;
}

.slider-services-item-current {
    background: #000000;
}

.slider-services-item {
    list-style-type: none;
    width: 280px;
    position: relative;
}

.slider-services-item:not(:last-child) {
    margin-bottom: 24px;
}

.warranty {
    display: none;
}

.credit {
    display: none;
}

.delive-item {
    background: #F0F0F0;
    min-width: 1160px;
    margin-top: 90px;
    text-decoration: none;
    padding: 0px;
    position: relative;
    display: block;
    height: 100px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    align-items: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.delive-item::before {
    width: 125px;
    height: 100px;
    background-color: #FFE17F;
    background-image: url("../img/delive.svg");
    background-repeat: no-repeat;
    background-size: 47px 32px;
    background-position: center left 39px;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
}

.delive-item::after {
    background-image: url("../img/info.svg");
    background-repeat: no-repeat;
    background-size: 2px 12px;
    background-position: center right 19px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(220, 220, 220, 0.5);
    content: "";
    position: absolute;
    top: 30px;
    right: 33px;
}

.delive-item:hover:before {
    background-color: #FFC700;
}

.delive-item:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
}

.delive-item:active:before {
    background-color: #FFC700;
}

.delive-item:active {
    opacity: 0.3;
}

.about-contact {
    display: flex;
    margin-top: 100px;
    position: relative;
}

.about::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 80px;
    height: 7px;
    background-color: #000000;
    ;
}

.about {
    width: 560px;
}

.about-list {
    list-style-type: none;
    margin-bottom: 130px;
    position: relative;
}

.about-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-top: 42px;
}

.about-item {
    position: relative;
    margin-bottom: 10px;
}

.about-item::before {
    position: absolute;
    top: 11px;
    left: -40px;
    width: 8px;
    height: 8px;
    background-color: #FFC700;
    border-radius: 50%;
    content: "";
}

.about-company {
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
}

.button-all {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    background: linear-gradient(#FFFFFF, 16px, #FFE17F 16px, 24px, #FFFFFF 24px);
    display: block;
    margin-top: auto;
    letter-spacing: 0.2em;
    width: 260px;
    padding: 10px 0px;
}

.button-all:hover {
    background: #FFC700;
}

.button-all:active {
    opacity: 0.3;
}

.contact {
    width: 560px;
    margin-left: 40px;
}

.contact::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 600px;
    display: block;
    width: 80px;
    height: 7px;
    background-color: #000000;
    ;
}

.contacts-schedule {
    list-style-type: none;
}

.contact-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-top: 42px;
}

.contact-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
}

.contacts-phone {
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: #444444;
}

.mail {
    color: #444444;
    background: #F0F0F0;
}

.mailing {
    padding: 0 140px;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 600px 260px auto;
    gap: 0px;
    margin-top: 75px;
    position: relative;
}

.mailing-text {
    margin-top: 86px;
    grid-column: 2 / 4;
}

.mailing-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    width: 560px;
    margin-top: 75px;
    grid-column: 1 / 2;
}

input#e-mail {
    width: 600px;
    height: 52px;
    padding: 0px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
}

.mailing-form {
    align-self: center;
    padding: 0px;
    margin-bottom: 130px;
    box-sizing: border-box;
    line-height: 46px;
    grid-column: 1 / -2;
    display: flex;
}

input#e-mail:hover {
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

input#e-mail:focus {
    background-color: #DCDCDC;
}

input#e-mail:active {
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
}

input#e-mail:invalid {
    box-shadow: 0px 3px 0px 0px rgba(255, 61, 61, 1);
}

.mailing-text-button {
    justify-self: end;
    margin: 0px;
    margin-bottom: 130px;
    padding-left: 35px;
    align-self: center;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: center left 0px;
}

.button-email {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
    margin: 0px;
    width: 260px;
    height: 55px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    display: block;
}

.button-email:hover {
    background: #000000;
    color: #FFFFFF;
}

.button-email:focus {
    border: 3px solid #AF4FFF;
}

.button-email:active {
    background: #000000;
    color: #FFFFFF;
}

.inner-header {
    margin-right: auto;
    margin-left: auto;
    width: 1160px;
    padding-right: 140px;
    padding-left: 140px;
}

.inner-header-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    width: 560px;
    margin: 37px 0 0 60px;
}

.breadcrumbs {
    list-style-type: none;
    display: flex;
    margin-left: 60px;
    padding: 0;
    margin-bottom: 50px;
}

.breadcrumbs-item {
    margin-right: 14px;
    position: relative;
}

.breadcrumbs-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    opacity: 0.6;
    padding: 5px 12px;
}

.breadcrumbs-item:not(:last-child)::after {
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    width: 4px;
    height: 7px;
    background-position: center center;
    box-sizing: border-box;
    position: absolute;
    content: "";
    top: 13px;
    right: -10px;
    opacity: 0.6;
}

.breadcrumbs-link:hover {
    opacity: 1;
}

.breadcrumbs-link:focus {
    box-shadow: 0 0 0 5px #AF4FFF;
}

.breadcrumbs-link:active {
    opacity: 0.3;
}

.catalog-sorting {
    background-image: linear-gradient(to right, #DCDCDC 0%, #DCDCDC 30%, #EBEBEB 30%, #EBEBEB 100%);
}

.catalog-product {
    background-image: linear-gradient(to right, #E5E5E5 0%, #E5E5E5 30%, #FFFFFF 30%, #FFFFFF 100%);
}

.catalog-container {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 1160px;
    padding-right: 140px;
    padding-left: 140px;
}

.header-container {
    width: 200px;
    padding-left: 60px;
    padding-right: 70px;
    color: #000;
    background-color: #DCDCDC;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 40px;
    padding-left: 70px;
    padding-top: 70px;
    list-style-type: none;
    margin: 0px;
    padding-bottom: 45px;
}

.filter {
    width: 200px;
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 70px;
    color: #000;
    background-color: #E5E5E5;
}

.catalog-right-column {
    width: 980px;
}

.catalog-filter-form fieldset {
    position: relative;
    border: none;
    margin-top: 12px;
    width: 200px;
}

.catalog-filter-form fieldset::before {
    content: "";
    position: absolute;
    top: -65px;
    left: 0;
    width: 200px;
    height: 2px;
    background-color: #000;
}

.range-scale {
    position: relative;
    height: 4px;
    margin-bottom: 16px;
    background-color: #DCDCDC;
    border-radius: 2px;
}

.range-bar {
    position: absolute;
    height: 2px;
    background-color: #000000;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #EBEBEB;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle:focus {
    border: 2px solid #AF4FFF;
}

.range-toggle:active {
    background: #000000;
}

.toggle-min {
    top: -8px;
    left: 0px;
}

.toggle-max {
    top: -8px;
    right: 0px;
}

.range-wrapper-inputs {
    display: flex;
}

.catalog-filter-label {
    display: flex;
    margin-right: 5px;
}

.range-input {
    width: 40px;
    padding: 0 2px;
    font: inherit;
    text-align: start;
    background-color: transparent;
    border: none;
    appearance: textfield;
}

.range-input::-webkit-outer-spin-button, .range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.catalog-filter-group {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    border: none;
}

.catalog-filter-list {
    list-style-type: none;
    padding: 0px;
}

.catalog-header {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: uppercase;
    padding: 26px 0px;
    margin: 0px;
    letter-spacing: 0.2em;
}

.catalog-name {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: uppercase;
    margin: auto 0px;
    padding-right: 50px;
    letter-spacing: 0.2em;
}

.catalog-filter-title {
    font-style: normal;
    font-weight: 700;
    color: #000000;
    line-height: 20px;
    margin-bottom: 30px;
}

.catalog-filter-label {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-align: center;
}

.control {
    position: relative;
    display: block;
    padding-left: 36px;
}

.control:hover .control-input[type="checkbox"]:checked+.control-mark {
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.control:hover .control-input[type="checkbox"]:checked+.control-mark::before {
    opacity: 0.5;
}

.control:focus .control-mark {
    border: 2px solid #AF4FFF;
}

.control:focus .control-label {
    color: #AF4FFF;
}

.control:focus .control-input[type="checkbox"]:checked+.control-mark {
    border: 2px solid #AF4FFF;
}

/* .control:focus .control-input[type="checkbox"]:checked + .control-mark::before {
    background-color: #AF4FFF;
} */

.control:active {
    opacity: 0.5;
}

.control-input[type="checkbox"]:checked+.control-mark::before {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-image: url("../img/checkbox.svg");
    background-repeat: no-repeat;
    content: "";
}

.control-input[type="checkbox"]:checked+.control-mark {
    border: 2px solid rgba(0, 0, 0, 1);
}

.control-input[type="radio"]+.control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark {
    border: 2px solid rgba(0, 0, 0, 1);
}

.control:hover .control-input[type="radio"]:checked+.control-mark {
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.control:hover .control-input[type="radio"]:checked+.control-mark::before {
    opacity: 0.5;
}

.control-input[type="radio"]:checked+.control-mark::before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #242424;
    border-radius: 50%;
    content: "";
}

.control-mark {
    position: absolute;
    top: 6px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.control-label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.button-control {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    border: none;
    margin: 0px auto;
    width: 200px;
    letter-spacing: 0.2em;
    padding: 10px 0px;
    background: linear-gradient(#E5E5E5, 16px, #FFE17F 16px, 24px, #E5E5E5 24px);
}

.button-control:hover {
    background: #FFC700;
}

.button-control:active {
    opacity: 0.3;
    background: #FFC700;
}

.sorting-container {
    display: flex;
    color: black;
    margin: 20px 0px 20px 0px;
    padding-left: 72px;
    flex-grow: 1;
}

.sort-toggle {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
}

.sort-toggle-current {
    opacity: 1;
}

.sort-toggle:hover {
    opacity: 0.5;
}

.sort-toggle:focus {
    box-shadow: 0 0 0 5px #AF4FFF;
}

.sort-toggle:active {
    opacity: 1;
}

.sorting-type {
    margin-right: auto;
    display: flex;
}

.sorting-container .button {
    width: 11px;
    height: 11px;
}

.catalog-sorting-name {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: uppercase;
}

.select {
    position: relative;
    display: flex;
    align-items: center;
    width: 218px;
    margin-right: auto;
}

.select-control {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    padding: 6px 14px;
    padding-right: 48px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("../img/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    appearance: none;
    color: #000000;
}

.select-control:hover {
    opacity: 0.6;
}

.select-control:focus {
    box-shadow: 0 0 0 5px #AF4FFF;
}

.select-control:active {
    opacity: 0.3;
}

.product-card {
    position: relative;
}

.product-card-new::after {
    position: absolute;
    content: "new";
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    top: 27px;
    right: 27px;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border-radius: 50%;
}
.product-card:hover .product-card-image {
    opacity: 0.8;
}
.product-card:hover .product-card-button {
    visibility: visible;
}
.product-card:focus .product-card-image {
    box-shadow: 0 0 0 5px #AF4FFF;
}
.product-card:focus .product-card-title {
    color: #AF4FFF;
}
.product-card:focus .product-card-price {
    color: #AF4FFF;
}

.product-card-button {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    background: linear-gradient(transparent, 16px, #FFC700 16px, 24px, transparent 24px);
    visibility: hidden;
    position: absolute;
    top: 170px;
    left: 90px;
    width: 180px;
    padding: 10px 0px;
}

.product-card-title-link {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    align-items: flex-start;
}

.product-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    width: 280px;
    margin: 0px;
}

.product-card-price {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
    color: #444444;
}

.button-pagination-show-more {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    width: 760px;
    height: 55px;
    margin-left: 70px;
    display: block;
    align-items: stretch;
    text-align: center;
    letter-spacing: 0.2em;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.button-pagination-show-more:hover {
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 1);
}

.button-pagination-show-more:focus {
    box-shadow: 0px 0px 0px 5px #AF4FFF;
}

.button-pagination-show-more:active {
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.3);
    opacity: 0.3;
}

.pagination {
    display: flex;
    margin-left: 70px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 77px;
    background-color: #EBEBEB;
}

.pagination-list {
    padding: 0px;
    display: flex;
}

.pagination-item {
    width: 38px;
    height: 38px;
    list-style-type: none;
}

.pagination-item:last-child {
    margin-right: 0px;
}

.pagination-link-button {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    width: 127px;
    display: block;
}

.pagination-link-button:hover {
    background-color: #DCDCDC;
}

.pagination-link-button:focus {
    box-shadow: 0px 0px 0px 5px #AF4FFF;
}

.pagination-link-button:active {
    background-color: #DCDCDC;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    color: #444444;
    display: block;
    opacity: 0.3;
}

.pagination-link:hover {
    opacity: 1;
}

.pagination-link:focus {
    box-shadow: 0px 0px 0px 5px #AF4FFF;
}

.pagination-link:active {
    opacity: 0.1;
}

.page-footer {
    background: #444444;
    color: #FFFFFF;
}

.page-footer-container {
    width: 1160px;
    padding: 0 140px;
    margin-left: auto;
    margin-right: auto;
}

.footer-contact {
    display: block;
    margin-top: 60px;
    margin-bottom: 35px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-adress {
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    font-size: 16px;
    color: #FFFFFF;
    width: 250px;
}

.page-footer-menu {
    display: flex;
    list-style-type: none;
    width: 465px;
    padding: 0px;
    justify-content: space-between;
}

.footer-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #FFFFFF;
    width: 250px;
    text-align: center;
    align-self: center;
    line-height: 30px;
    text-decoration: none;
}

.footer-phone:hover {
    color: #FFC700;
}

.footer-phone:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
    box-sizing: border-box;
    border-radius: 15px;
}

.footer-phone:active {
    color: #FFC700;
    opacity: 0.3;
}

.button-button-all {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0.2em;
    width: 148px;
    display: block;
}

.button-button-all:hover {
    color: #FFC700;
    text-decoration-line: underline;
    text-underline-offset: 8px;
}

.button-button-all:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
    box-sizing: border-box;
    border-radius: 25px;
}

.button-button-all:active {
    color: #FFC700;
    text-decoration-line: underline;
    text-underline-offset: 8px;
    opacity: 0.3;
}

.footer-social {
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.footer-decoration::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    top: 15px;
    left: 0px;
    background: #FFC700;
    position: absolute;
}

.footer-decoration {
    width: 135px;
}

.footer-logo {
    display: block;
    width: 135px;
    text-align: center;
}

.footer-logo-main {
    fill: #FFC700;
}

.footer-logo-main:hover {
    fill: #FFFFFF;
}

.footer-logo:focus {
    box-shadow: 0 0 0 2px #af4fff;
    box-sizing: border-box;
    border-radius: 10px;
}

.footer-logo-main:active {
    fill: rgba(255, 255, 255, 0.3);
}

.footer-social-list {
    display: flex;
    list-style-type: none;
    width: 150px;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    align-items: center;
    align-self: center;
}

.footer-social-link {
    fill: rgb(36, 35, 35);
}

.footer-social-item {
    width: 40px;
    height: 40px;
    position: relative;
}

.button-social {
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 20px;
}

.footer-social-item:hover .button-social {
    background-color: #FFC700;
}

.footer-social-item:active .button-social {
    background-color: #FFC700;
}

.footer-social-item:focus .footer-social-link {
    fill: #FFFFFF;
}

.footer-social-item:focus .button-social {
    background-color: transparent;
    box-shadow: 0 0 0 2px #af4fff;
    box-sizing: border-box;
    border-radius: 20px;
}

.footer-social-item:active .footer-social-link {
    fill: rgba(255, 255, 255, 0.3);
}